
  @font-face {
    font-family: 'Nunito Sans';
    font-weight: 400;
    src: local('Nunito Sans'), url(../fonts/Nunito_Sans/NunitoSans-Regular.ttf);
  }
  
  @font-face {
    font-family: 'Yeseva One';
    font-weight: 400;
    src: local('Yeseva One'), url(../fonts/Yeseva_One/YesevaOne-Regular.ttf);
  }
  
 