:root{
    --header-color: #131313;
    --hover-color: #E3B873;
    --nav-link-color:  #FFFFFF;
    --projects__nav-link-color:rgba(255, 255, 255, 0.3);
    --form__text-color:#363636;
    --form__title-color:rgba(54, 54, 54, 0.5);
    --subtitle_black:  #181818;
    --list-color:#959595;
}
*{
    margin: 0;
    text-decoration: none;
}
h1{
    font-family: 'Yeseva One','sans-serif' ;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: var(--nav-link-color);
}
h4{
    font-family: 'Yeseva One','sans-serif' ;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--hover-color);
}
.white{
    color: var(--nav-link-color);
}
.black{
    color: var(--form__text-color);
    text-transform:capitalize;
}
.title{
    font-family: 'Yeseva One','sans-serif' ;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--hover-color);
}
.subtitle{
    font-family: 'Yeseva One','sans-serif' ;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--nav-link-color);
}
.subtitle_black{
    color: var(--subtitle_black);
}
.header__container{
    margin: 0 auto;
    max-width: 1256px;
}
.container{
    max-width: 1171px;
    margin: 0 auto;
}
button{
    background-color: var(--hover-color);
    color: var(--nav-link-color);

    border-radius: 2px;
    cursor: pointer;
    border: transparent solid 1px;

    font-family: 'Nunito Sans', 'sans-serif';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;

    transition: all .3s;

    width: 200px;
    height: 51px;
}
.button{
    background-color: transparent;
    border:  white solid 1px;
    padding: 18px 23px;
    margin-right: 20px;
    width: 207px;
    transition: all .3s;

    font-family: 'Nunito Sans', 'sans-serif';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    color: var(--nav-link-color);
}
.button:hover{
    background-color: var(--hover-color);
    color: var(--nav-link-color);

    border-radius: 2px;
    cursor: pointer;
    border: transparent solid 1px;

    font-family: 'Nunito Sans', 'sans-serif';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;

    transition: all .3s;
    
}
/* header*/
header{
    background-color: var(--header-color);
}
.header__wrap{
    display: flex;
    justify-content: space-between;
    padding: 24px 0 22px;
    align-items: center;
}
.header__logo-link{
    color: var(--hover-color);
    font-family: 'Nunito Sans', 'sans-serif';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;    
}
.header__logo-link:hover{
    color: var(--nav-link-color);
}


.header__nav{
    display: flex;
    justify-content: space-between;
    width: 500px;
}
.header__nav-link{
    color: var(--nav-link-color);
    font-family: 'Nunito Sans', 'sans-serif';
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;

}
.active{
    color: var(--hover-color);
}
.header__nav-link:hover{
    color: var(--hover-color);
    transition: all .3s;
}
.line-bottom{
    text-decoration: underline;
}
.header_btn{
    padding: 13px 33px;
}

/* main*/
/* section__info*/
.section__info{
    background-image: url(../img/Group\ 7.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.info__wrap{
    max-width: 515px;
    padding: 194px 0 208px;
}
.info_text{
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: var(--nav-link-color);
    margin: 19px 0 41px;
}

.gold{
    color: var(--hover-color);
}

/* section__projects*/


.section__projects{
    background-color: var(--header-color);
    display: flex;
    justify-content: flex-end;
}
.projects__nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 107px;
}
.projects__nav-link{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: 'Yeseva One','sans-serif';
    color: var(--projects__nav-link-color) ;
    transition: all .3s;
    margin-right: 60px;
    margin-bottom: 45px;
    padding-bottom: 2px;
   
}
.projects__nav-link:hover{
    color: var(--hover-color);
    transition: all .3s;
    border-bottom: solid 1px;
    
}
.active-line{
    color: var(--hover-color);
    border-bottom: var(--hover-color) solid 1px;

}
.projects__info{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.projects__info_card-wrap{
    display:grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 55px 55px;
    grid-gap: 35px 0px;
}

.projects__info_text_subtitle{
    font-size: 14px;
    line-height: 27px;
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    color: var(--nav-link-color);
    max-width: 442px;
    margin: 34px 0 42px;
}

.projects__info_card-sublitle{
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: var(--nav-link-color);
}

.projects__info_img{
    max-height: 482px;
    max-width: 679px;   
}

.projects__info_img img{
    height: 100%;
    width: 100%;
}
.projects__info_nav{
    display: flex;
    align-items: center;
    margin-top: 71px;
}
.projects__info_nav-arrow_left{
    Width: 8.59px;
    Height: 8.59px;
    border-top: 1px solid var(--nav-link-color);
    border-right: 1px solid var(--nav-link-color);
    margin-right: 60px; 
    transform: rotate(-135deg);
    margin: 0;
    cursor: pointer;
}
.projects__info_nav-line{
    Width:40.51px;
    Height:1.34px;
    border-bottom:1px solid var(--nav-link-color) ;
    transform: translate(-9px, -1px);
    margin-right: 12px;
    cursor: pointer;
}
.line-right{
    transform: translate(10px, -1px);
    margin-right: 0;
    margin-left: 12px;
}
.projects__info_nav-point{
    Width: 9.57px;
    Height: 9.57px;
    border-radius: 30px;
    background-color: var(--projects__nav-link-color);
    margin: 0 10px;
    transition: all .3s;
    cursor: pointer;
}
.projects__info_nav-point:hover{
    transition: all .3s;
    background-color: var(--nav-link-color);

}
.active-point{
    background-color: var(--nav-link-color);
}
.projects__info_nav-arrow_right{
    Width: 8.59px;
    Height: 8.28px;
    border-top: 1px solid var(--nav-link-color);
    border-right: 1px solid var(--nav-link-color);
    margin-right: 60px; 
    transform: rotate(45deg);
    margin: 0;
    cursor: pointer;
}


.projects__video{
    margin-top: 92px;
}

.projects__video_camera-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 326px;
}
.projects__camera{
    display: flex;
    margin-top: 12px;
}
.projects__camera_line{
    border-bottom: 1.54px solid var(--hover-color);
    width: 32px;
    transform: translate(-9px, -11px);
}
.camera_line-right{
    transform: translate(6px, -11px);
}

/*section__video*/

.section__video{
    background-color: var(--bgc-video-color);
}
.video__wrap{
    display: flex;
    justify-content: center;
    transform: translate(10px, -215px);
}
.video{
    max-height: 434px;
    max-width: 817px;
}
.video img{
    height: 100%;
    width: 100%;
}

.video__play{
    width: 140px;
    height: 140px;
    transform: translate(337px, -287px);
}
.video__play img{
    width: 100%;
    height: 100%;
}

/*section__form*/



.form__line{
    border-bottom: 1.54px solid var(--hover-color);
    width: 55px;
    margin: 0 auto;
    transform: translate(0px, -156px);
}  

.form__text{
    font-family: 'Nunito Sans','sans-serif';
    max-width:  651px;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: var(--form__text-color);
    margin: 0 auto;
    transform: translate(0px, -115px);
    
}  

.form__subtitle{
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: var(--form__title-color);
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center ;
}
.form__wrap{
    display: flex;

}
.form__group{
    margin-right: 58px;
}

.form__input{
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--form__title-color);
    background-color: transparent;
    padding: 0 0 10px 0;
    width: 231px;
}
input[type=text]::placeholder {
	color: var(--header-color);
    font-size: 14px;
    line-height: 27px;
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;

}
.checkbox-wrap{
    margin: 38px;
}
.checkbox-style{
    position: absolute;
    z-index: -1;
    opacity: 0;
    
}
.checkbox-style+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox-style+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid var(--hover-color);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 8px;
}
.checkbox-style:checked+label::before {
    border-color: var(--hover-color);
    background-color: var(--hover-color);
    background-image: url(../img/checkbox.svg)
}

/*section__types*/

.types__molot{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.types__cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 31px;
}

.types__card_image{
    max-width: 392px;
    min-height: 421px;
}
.types__card_image img{
    width: 100%;
    height: 100%;
}
.types__card_info{
    background-color: var(--nav-link-color);
    padding:25px 34px  48px 34px;
    max-width: 250px;
    transform: translate(25px, -146px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.types__card_info-list{
    font-family: 'Nunito Sans','sans-serif';
    color:var(--list-color);
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    margin-top: 13px;
    margin-top: 13px;
    margin-left: -23px;
    
}

.types__card_money{
    width: 200px;
    background-color: var(--hover-color);
    text-align: center;
    padding: 17px 21px;
    transform: translate(25px, -173px);
}

/*section__feedback*/
.section__feedback{
    background-image: url(../img/feedback__bgc.png);
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-size: auto;
    transform: translate(10px, -110px);
}
.feedback__wrap{
    display: flex;
    justify-content: space-between;
}

.feedback__list-elem{
    display: flex;
    text-align: center;
    align-items: center;
    margin-bottom: 114px;
}
.feedback__list-elem:first-child{
    margin-top: 98px;
}
.feedback__list-elem:last-child{
    margin-bottom: 56px;
}
.feedback__list-elem-icon{
    background-color: var(--hover-color);
    width: 41.76px;
    height: 41.76px;
    border: 8px solid var(--nav-link-color);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin-right: 5px ;
}
.feedback__list-elem-icon-number{
    text-align: center;
    margin-top: 8px;
}

.feedback__list-elem-text{
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    max-width: 320px;
    color: var(--form__text-color);
}

.feedback__form{
    background-color: var(--header-color);
    padding: 28px 49px 27px 29px;
    margin-top: 98px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}
.feedback__form-title{
    color: var(--nav-link-color);
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center; 
    max-width: 279px;
    margin: 0 auto;
    margin-bottom: 39px;
}

.feedback__form-group{
    margin-bottom: 52px;
}
.feedback__form-group:nth-child(3){
    margin-bottom: 0px;
}
.feedback__form-grey{
    color: rgba(255, 255, 255, 0.5);
    

}
.feedback__form-input{
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    width: 408px;
    color: var(--nav-link-color);
}
input[type=feedback_text]::placeholder {
	color: var(--nav-link-color);
    font-size: 14px;
    line-height: 27px;
    font-family: 'Nunito Sans','sans-serif';
    font-weight: 400;
    color: var(--nav-link-color);
}

.checkbox-text{
    color: var(--nav-link-color);
    font-weight: 400;
    font-size: 14px;
    font-family: 'Nunito Sans','sans-serif';
}
.feedback__form_checkbox{
    margin-top: 16px;
    margin-bottom: 10px;
}
.feedback__form-btn{
    display: flex;
    justify-content: flex-end;
}
.feedback__coin{
    display: flex;
    justify-content: flex-end;
    transform: translate(0px, -62px);
    
}
.feedback__coin-pig{
    display: flex;
    align-items: center;
    margin-right: 140px;
}
.feedback__coin-pig-item{
    width: 72px;
    height: 72px;
    background: var(--hover-color);
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50px;
    margin-right: 25px;
}
.feedback__coin-pig-item-img{
    padding: 15px;
}
.feedback__coin-pig-text{
    font-family: 'Nunito Sans','sans-serif';
    color: var(--hover-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}